@page "/"
@using SelectAndSearch.Common.Hooks;
@using SelectAndSearch.Common.Services;
    
@inject ImportService importService
@inject ClipboardHook clipboardHook;

<PageTitle>Index</PageTitle>

<h1>@filenames</h1>

<MButton Elevation="2" Color="primary" OnClick="@SelectFiles">导入题库</MButton>
<MButton Elevation="2" Color="primary" OnClick="@clipboardHook.StartHook">启动钩子</MButton>
<MButton Elevation="2" Color="primary" OnClick="@clipboardHook.StopHook">关闭钩子</MButton>
<SurveyPrompt Title="This is fire-new Blazor UI!" />

@code {
    public string filenames { get; set; } = string.Empty;
    public async Task SelectFiles() {
        OpenFileDialog dialog = new OpenFileDialog();
        dialog.Multiselect = true;
        dialog.Title = "请选择文件夹";
        dialog.Filter = "Excel文件(*.xlsx)|*.xlsx";
        if (dialog.ShowDialog() == System.Windows.Forms.DialogResult.OK) {
            //filenames = dialog.FileName;

            await importService.Execute(dialog.FileNames.ToList());
            filenames = string.Join(";", dialog.FileNames);
        }
    }
}