@using SelectAndSearch.Common.Models;
@using Masa.Blazor.Presets
@using AlertTypes = BlazorComponent.AlertTypes

<MCard Class="mx-auto" MaxWidth="344">

    <MCardText>
        <div>@Question.CorrectAnswer</div>
        <p>@Question.Title</p>
        <div class="text--primary">
            @foreach (var (value, i) in Question.Answers.Select((value, i) => (value, i))) {
                Console.WriteLine(i);
                var tmp = Question.CorrectAnswerNumber.Contains(i);
                if (tmp) {
                    <MAlert Dense
                    Color="green"
                    Type="AlertTypes.Success">
                    @value
                    </MAlert>
                } else {
                    <MAlert Dense Outlined
                    Color="red"
                    Type="AlertTypes.Error">
                    @value
                    </MAlert>
                }
            }
        </div>
    </MCardText>

</MCard>

@code {
    [Parameter]
    public Question Question { get; set; }

}
